<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="http://jsbsim.sf.net/JSBSimScript.xsl"?>
<runscript xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://jsbsim.sf.net/JSBSimScript.xsd"
    name="Rocket flight.">


  <use aircraft="PQ_ROCKET" initialize="liftoff"/> 

  <run start="0" end="{{ flight_duration }}" dt="{{ time_step }}">

    

    <!-- start off on the ground -->
    <property value="1"> forces/hold-down </property>

    <property value="0"> simulation/notify-time-trigger </property>

    <property value="100000000"> simulation/parachute_deploy_time </property>



    <!-- Ignite -->
    <event name="Ignition">
        <condition>simulation/sim-time-sec  ge  {{ time_step * 100}}</condition>
        <notify/>
    </event>

    <!-- Liftoff -->
    <event name="liftoff">
      <condition>simulation/sim-time-sec  ge  {{ time_step * 100}}</condition>
      <set name="forces/hold-down" value="0"/>
    </event>

    <!-- Burnout -->
    <event name="Motor Burnout">
      <condition>propulsion/tank[0]/contents-lbs lt 0.1</condition>
      <notify>
        <property caption="Time [s]">  simulation/sim-time-sec  </property>
        <property caption="Altitude [m]"> position/h-sl-meters  </property>
      </notify>
    </event>

    <!-- Zero Vertical Velocity -->
    <event name="Apogee">
      <condition>velocities/v-down-fps gt 1</condition>
      <notify>
        <property caption="Time [s]">  simulation/sim-time-sec  </property>
        <property caption="Altitude [m]"> position/h-sl-meters  </property>
      </notify>
      <set name="simulation/parachute_deploy_time" >
        <function>
          <sum>
            <property>simulation/sim-time-sec</property>
            <value>{{ parachute_deploy_delay }}</value>
          </sum>
        </function>
      </set>
    </event>

    <event name="Landed">
      <condition>position/h-agl-ft le 0.1</condition>
      <notify>
        <property caption="Time [s]">  simulation/sim-time-sec  </property>
        <property caption="Altitude [m]"> position/h-sl-meters  </property>
      </notify>
      <set name="simulation/terminate" value="1"/>
    </event>

    <event name="Winds aloft" continuous="true">
      <condition>simulation/sim-time-sec ge {{ time_step }}</condition>
      <set name="atmosphere/psiw-rad">
      <function>
      <table>
      <independentVar lookup="row"> position/h-agl-ft </independentVar>
      <tableData>
        {% for wind in winds_table|sort(attribute='0') -%}
        {{ wind[0] }} {{ wind[2]*0.0174533}}
        {% endfor %}
      </tableData>
      </table>
      </function>
      </set>
      <set name="atmosphere/wind-mag-fps">
      <function>
      <table>
      <independentVar lookup="row"> position/h-agl-ft </independentVar>
      <tableData>
        {% for wind in winds_table|sort(attribute='0') -%}
        {{ wind[0] }} {{ wind[1] *3.280840}}
        {% endfor %}
      </tableData>
      </table>
      </function>
      </set>
      <notify/>
    </event>


  </run>

  <output name="pq_rocket_output_raw.csv" type="CSV" rate="100" file="unitconversions.xml">
    <property>position/lat-gc-deg</property>
    <property>position/long-gc-deg</property>
    <property>position/h-sl-meters</property>
    <property>aero/alpha-rad</property>
    <property apply="convert-fps-To-ms" caption="velocities/vtrue-ms">velocities/vtrue-fps</property>
    <property apply="convert-fps-To-m_s" caption="velocities/vg-ms">velocities/vg-fps</property>
    <property apply="convert-rad-To-deg" caption="attitude/phi-deg">attitude/phi-rad</property>
    <property apply="convert-rad-To-deg" caption="attitude/theta-deg">attitude/theta-rad</property>
    <property apply="convert-rad-To-deg" caption="attitude/psi-deg">attitude/psi-rad</property>
    <property apply="convert-psf-To-Pa" caption="aero/qbar-Pa">aero/qbar-psf</property>
    <property>metrics/Sw-sqft</property>
  </output>
</runscript>